
 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: rgb(65, 181, 20);
  padding: 10px 20px;
}

a:hover {
  background-color: rgb(16, 16, 16);
}

img {
  width: 100%;
  height: auto;
  border-radius: 20%;
}

p {
  margin-top: 20px;
}
.img2{
    height: 200px;
    width:200px;
}
td {
    width: 1000px;
    height: 50px;
  }
  nav{
    background-color: rgb(131, 189, 240);
    align-items: center;
    height: 40px;
    width: 100%;
}
  
  img.abc{
    height: 500px;
    width: 100%;
    border-radius: 0;
    
  }
